@using TasksDatabase.ViewModels
@model UserInfoViewModel
@{
    ViewBag.Title = "Пользователи";
}

<body>
    <table class="table table-hover">
        <caption>Текущие задания</caption>
        <thead>
            <tr>
                <th scope="col">Пользователь</th>
                <th scope="col">Текущее задание</th>
                <th scope="col">Дисциплина</th>
                <th scope="col">Тип</th>
                <th scope="col">Статус</th>
                <th scope="col">Длительность</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in Model.UserInfos)
            {
                <tr>
                    @if (info.CurrentTracking != null)
                    {
                        <td>@info.User.UserName</td>
                        <td>@info.CurrentTracking.Problem.Name</td>
                        <td>@info.CurrentTracking.Problem.Course.Name</td>
                        <td>@info.CurrentTracking.Problem.TaskType.Name</td>
                        <td>@info.CurrentTracking.Status.Name</td>
                        <td>@info.CurrentTaskTime мин</td>
                    }
                    else
                    {
                        <td>@info.User.UserName</td>
                        <td>Нет</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-hover">
        <caption>Полная информация</caption>
        <thead>
            <tr>
                <th scope="col">Пользователь</th>
                <th scope="col">Количество переносов</th>
                <th scope="col">Количество проверок</th>
                <th scope="col">Количество доработок</th>
                <th scope="col">Трудоемкость переносов</th>
                <th scope="col">Трудоемкость проверок</th>
                <th scope="col">Трудоемкость доработок</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in Model.UserInfos)
            {
                <tr>
                    <td>@info.User.UserName</td>
                    <td>@info.WorkCount</td>
                    <td>@info.ReviewCount</td>
                    <td>@info.ReworkCount</td>
                    <td>
                        @(info.CurrentTracking?.Status.Name == "Переносится" ?
                $"{info.WorkTime ?? 0 + info.CurrentTaskTime} мин" : $"{ info.WorkTime ?? 0 } мин")
                    </td>
                    <td>
                        @(info.CurrentTracking?.Status.Name == "Проверяется" ?
                $"{info.ReviewTime ?? 0 + info.CurrentTaskTime} мин" : $"{ info.ReviewTime ?? 0} мин")
                    </td>
                    <td>
                        @(info.CurrentTracking?.Status.Name == "Дорабатывается" ?
                $"{info.ReworkTime ?? 0 + info.CurrentTaskTime.Value} мин" : $"{ info.ReworkTime ?? 0 } мин")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>