@using TasksDatabase.Models
@model TableViewModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style type="text/css">
        .hiddenRow {
            padding: 0 !important;
        }
    </style>
    <script>
        var hided = false;

        function Block(id) {
            document.getElementById(id).disabled = true;
            return true;
        }

        function toggle() {
            var rows = document.getElementsByClassName("completed");
            if (hided) {
                for (i = 0; i < rows.length; i++)
                    rows[i].style.display = 'table-row';
                hided = false;
            } else {
                for (i = 0; i < rows.length; i++)
                    rows[i].style.display = 'none';
                hided = true;
            }
        }</script>
</head>

<div><button onclick="toggle();" class="btn btn-success">Скрыть/показать завершенные</button></div>
<br>
<div><b>Выполнено: @Model.CompletedCount/@Model.TotalCount</b></div>

<table class="table table-hover" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">ЭОРД</th>
            <th scope="col">Задача</th>
            <th scope="col">Тип работы</th>
            <th scope="col">Принято</th>
            <th scope="col">Завершено</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}

        @foreach (var taskViewModel in Model.TaskViewModelList)
        {
            string Status = taskViewModel.Tracking.Status.Name;
            string Developer = taskViewModel.Tracking.Problem.DeveloperId;
            string Reviewer = taskViewModel.Tracking.Problem.ReviewerId;
            string CurrentUser = Model.UserId;
            Tracking tracking = taskViewModel.Tracking;

            string ProblemType = "";
            @switch (Status)
            {
                case "Переносится":
                    ProblemType = "Перенос";
                    break;
                case "Проверяется":
                    ProblemType = "Проверка";
                    break;
                case "Дорабатывается":
                    ProblemType = "Перенос (доработка)";
                    break;
                case "Утверждается":
                    ProblemType = "Утверждение";
                    break;
            }

            i++;

            if (Status == "Не перенесён" && Developer == CurrentUser
                    || Status == "Не проверен" && Reviewer == CurrentUser
                        || Status == "Не доработан" && Developer == CurrentUser)
            {
                <tr data-toggle="collapse" data-target="@("#collapse" + i)" class="accordion-toggle">
                    <td>@i</td>
                    <td>@tracking.Problem.Course.Name</td>
                    <td>@tracking.Problem.Name</td>
                    <td>@ProblemType</td>
                </tr>
                @if (Model.CanAcceptTask)
                {
                    <tr>
                        <td colspan="6" class="hiddenRow">
                            <div class="accordian-body collapse" id="@("collapse" + i)">
                                @if (tracking.Comment != "")
                                {
                                    <b>Комментарий к заданию:</b>
                                    <br />
                                    @tracking.Comment
                                    <br />
                                }
                                <b>Назначено: </b>@tracking.Time.ToString("dd.MM.yyyy (HH:mm)")
                                <form asp-controller="tasks" asp-action="table" onsubmit="Block(@tracking.Id)">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <input type="hidden" asp-for="@tracking.Id" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" asp-for="@taskViewModel.Comment" class="form-control" placeholder="Введите свой комментарий..." />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Принять задание" class="btn btn-success" id="@tracking.Id" />
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }


            if (Status == "Переносится" && Developer == CurrentUser
                   || Status == "Проверяется" && Reviewer == CurrentUser
                       || Status == "Дорабатывается" && Developer == CurrentUser
                            || Status == "Не утверждён" && User.IsInRole("Admin"))
            {
                <tr data-toggle="collapse" data-target="@("#collapse" + i)" class="accordion-toggle">
                    <td>@i</td>
                    <td>@tracking.Problem.Course.Name</td>
                    <td>@tracking.Problem.Name</td>
                    <td>@ProblemType</td>
                    <td>@tracking.Time.ToString("dd.MM.yyyy (hh:mm)")</td>
                </tr>

                {
                    <tr>
                        <td colspan="6" class="hiddenRow">
                            <div class="accordian-body collapse" id="@("collapse" + i)">
                                @if (tracking.Comment != "")
                                {
                                    <b>Комментарий к заданию:</b>
                                    <br />
                                    @tracking.Comment
                                    <br />
                                }
                                <b>Назначено: </b>@tracking.Time.ToString("dd.MM.yyyy (HH:mm)")
                                <form asp-controller="tasks" asp-action="table" onsubmit="Block(@tracking.Id)">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <input type="hidden" asp-for="@tracking.Id" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" asp-for="@taskViewModel.Comment" class="form-control" placeholder="Введите свой комментарий..." />
                                    </div>

                                    @if (Reviewer == CurrentUser)
                                    {
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Оцените задание:</label>
                                            </div>
                                            <select asp-for="@taskViewModel.Tracking.Id"
                                                    asp-items="@(new SelectListItem[]{
                                                     new SelectListItem("Ошибок нет", "Ok"),
                                                        new SelectListItem("Необходима доработка", "Rework") })">
                                            </select>
                                        </div>

                                    }

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="inputGroupSelect01">Оцените задание:</label>
                                            </div>
                                            <select asp-for="@taskViewModel.Tracking.Id"
                                                    asp-items="@(new SelectListItem[]{
                                                     new SelectListItem("Утвердить", "Ok"),
                                                        new SelectListItem("Повторная проверка","Review"),
                                                        new SelectListItem("Доработка", "Rework") })">
                                            </select>
                                        </div>
                                    }
                                    <div class=" form-group">
                                        <input type="submit" value="Завершить задание" class="btn btn-success" id="@tracking.Id" />
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }


            if (Status == "Перенесён" && Developer == CurrentUser
                || Status == "Проверен" && Reviewer == CurrentUser
                    || Status == "Доработан" && Developer == CurrentUser
                        || ((Status == "Утверждён" || Status == "Утверждается") && User.IsInRole("Admin")))

            {
                <tr data-toggle="collapse" data-target="@("#collapse" + i)" class="accordion-toggle completed">
                    <td>@i</td>
                    <td>@tracking.Problem.Course.Name</td>
                    <td>@tracking.Problem.Name</td>
                    <td>@ProblemType</td>
                    <td>@(tracking.StartTime != null ? tracking.StartTime.Value.ToString("dd.MM.yyyy (HH:mm)") : "n/a")</td>
                    <td>@tracking.Time.ToString("dd.MM.yyyy (hh:mm)")</td>
                </tr>
            }
        }
    </tbody>
</table>

<partial name="_pagination" />
